deploymentMode: SimpleScalable

loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 2
    path_prefix: /var/loki

  schemaConfig:
    configs:
      - from: "2024-01-01"
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h

  storage:
    type: s3
    s3:
      endpoint: minio.minio:9000
      accessKeyId: minioadmin
      secretAccessKey: minioadmin
      s3ForcePathStyle: true
      insecure: true
    bucketNames:
      chunks: loki-chunks
      ruler: loki-chunks
      admin: loki-chunks

  limits_config:
    retention_period: 300h
    reject_old_samples: true
    reject_old_samples_max_age: 168h
    max_query_parallelism: 8
    split_queries_by_interval: 2h

# Fix for the "Helm test" error
test:
  enabled: false

# Keeps resource usage low
lokiCanary:
  enabled: false

write:
  replicas: 2
  resources:
    limits:
      cpu: 500m
      memory: 1Gi
    requests:
      cpu: 200m
      memory: 512Mi
  persistence:
    size: 10Gi
    storageClass: longhorn

read:
  replicas: 2
  resources:
    limits:
      cpu: 800m
      memory: 1Gi
    requests:
      cpu: 200m
      memory: 512Mi

backend:
  replicas: 1
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
  persistence:
    size: 5Gi
    storageClass: longhorn

compactor:
  enabled: true
  retention_enabled: true
  working_directory: /var/loki/retention