providers:
  kubernetesGateway:
    enabled: true

gateway:
  listeners:
    websecure:
      port: 8443
      hostname: ""
      protocol: HTTPS
      namespacePolicy: ""
      certificateRefs:
        - name: tls
      mode: Terminate